{# 编辑页面模板 #}
{% extends 'base.html' %}

{% block content %}
<h3>编辑电影信息</h3>
<form method="post">
    {# value 属性可将对应的数据提前写到输入框里 #}
    <br>
    电影名称 <input type="text" name="title" autocomplete="on" required value="{{ movie.title }}">
    <br><br>
    上映年份 <input type="text" name="year" autocomplete="on" required value="{{ movie.year }}">
    <br><br>
    上映月份 <input type="text" name="month" autocomplete="on" required value="{{ movie.month }}">
    <br><br>
    上映日期 <input type="text" name="day" autocomplete="on" required value="{{ movie.day }}">
    <br><br>
    出品国家 <input type="text" name="country" autocomplete="on" required value="{{ movie.country }}">
    <br><br>
    电影类型 <input type="text" name="type" autocomplete="on" required value="{{ movie.type }}">
    <br><br>
    电影票房 <input type="text" name="box" autocomplete="on" required value="{{ movie.box }}">
    {# 影人输入框 #}
    <br><br>
    导演 <input type="text" name="director" autocomplete="on" required value="{{ director_name }}">
    <br><br>
    主演 <input type="text" name="star" autocomplete="on" required value="{{ star_name }}">
    <br><br>
    <input class="btn" type="submit" name="submit" value="保存">
    <br>
</form>
{% endblock %}