{% extends 'base.html' %}

{% block content %}
  <h3>查询影人</h3>

  <form method="post">
    影人姓名：<input type="text" name="name" required>
    <input type="submit" value="查询">
    <br>
    {% if actor %}
    <p>姓名：{{ actor.name }}</p>
    <p>性别：{{ actor.gender }}</p>
    <p>国籍：{{ actor.country }}</p>
    <a class="go_web" href="/actor/edit_actor/{{ actor.id }}" target="_blank">编辑影人信息</a>
    <br><br>

    <ul class="movie-list">
      {% if director_movie_names != ['无'] %}
        {% for director_movie_name in director_movie_names %}
          <li> 在 {{ director_movie_name }} 中担任导演
            <span class="float-right">
              <a class="go_web" href="/movie/edit/{{ get_movie_id_by_title(movies, director_movie_name) }}"
                 target="_blank">编辑该电影信息</a>
            </span>
          </li>
        {% endfor %}
      {% else %}
        <p>没有担任过任何电影的导演</p>
      {% endif %}
    </ul>

    <ul class="movie-list">
      {% if star_movie_names != ['无'] %}
        {% for star_movie_name in star_movie_names %}
          <li> 在 {{ star_movie_name }} 中担任主演
            <span class="float-right">
              <a class="go_web" href="/movie/edit/{{ get_movie_id_by_title(movies, star_movie_name) }}"
                 target="_blank">编辑该电影信息</a>
            </span>
          </li>
        {% endfor %}
      {% else %}
        <p>没有担任过任何电影的主演</p>
      {% endif %}
    </ul>
    {% endif %}
  </form>
{% endblock %}