{% extends 'base.html' %}

{% block content %}
  <h3>查询电影</h3>

  <form method="post">
    电影名称：<input type="text" name="title" required>
    <input type="submit" value="查询">
    <br>
    {% if movie %}
    <p>电影名称：{{ movie.title }}</p>
    <p>上映年份：{{ movie.year }}年</p>
    <p>上映月份：{{ movie.month }}月</p>
    <p>上映日期：{{ movie.day }}日</p>
    <p>出品国家：{{ movie.country }}</p>
    <p>电影类型：{{ movie.type }}</p>
    <a class="go_web" href="https://movie.douban.com/subject_search?search_text={{ movie.title }}" target="_blank"
       title="在 豆瓣网 中查询该电影">更多信息</a>
    <p>电影票房：{{ movie.box }}亿元</p>
    <a class="go_web" href="https://ys.endata.cn/DataMarket/Search?key={{ movie.title }}" target="_blank"
       title="在 艺恩娱数 中查询该电影票房分析">票房分析</a>
    <p>导演：{{ director_name }}</p>
    <p>主演：{{ star_name }}</p>
    <a class="go_web" href="/movie/edit/{{ movie.id }}" target="_blank">我要编辑</a>
    {% endif %}
  </form>
{% endblock %}
