{# 继承基模板的主页模板 #}
{% extends 'base.html' %}

{% block content %}
<p>总计有{{ all_movies|length }}部电影</p>

<ul class="movie-list">
    {% for movie in movies %}
    <li>{{ movie.title }} - {{ movie.year }} - {{ movie.country }} - {{ movie.type }} - {{ movie.box }}亿
        <span class="float-right">
            {% if current_user.is_authenticated %}
            {# 编辑电影条目的链接 #}
            <a class="btn" href="{{ url_for('edit', movie_id=movie.id) }}">编辑</a>
            {# 删除电影条目表单 #}
            <form class="inline-form" method="post" action="{{ url_for('.delete', movie_id=movie.id) }}">
                <input class="btn" type="submit" name="delete" value="删除" onclick="return confirm('您确定要删除吗？')">
            </form>
            {% endif %}
            <a class="go_web" href="https://movie.douban.com/subject_search?search_text={{ movie.title }}" target="_blank"
               title="在 豆瓣网 中查询该电影">详情</a>
            <a class="go_web" href="https://ys.endata.cn/DataMarket/Search?key={{ movie.title }}" target="_blank"
               title="在 艺恩娱数 中查询该电影票房分析">票房分析</a>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block pagination %}
<div class="pagination">
    当前为：第{{ pagination.page }}页
    <br>
    <ul class="pagination">
        跳转至：
        {% for page_num in pagination.pages %}
            {% if page_num %}
                {% if page_num != pagination.page %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('index', page=page_num) }}">
                        第{{ page_num }}页</a></li>
                {% endif %}
            {% else %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

{% endblock %}

